


<div class="container" style="margin-top: 150px; margin-bottom:140px ; text-align: center;">

<div style="display:flex; font-size: 60px; color:  rgb(99, 163, 99); margin-top: 30px; padding: 10px; justify-content: center;">
  <p>SUCCESS</p><img src="/assets/images/success.png" style="width: 60px;height: 60px;">
</div>
  <div style="font-size:20px ; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
    Thank you <span style="font-size: 35px; color: rgb(56, 48, 48);">Aya Mohamed Mosaad </span>  for verifying your Name , Your Address And We have sent you an email
     "amosaadali@gmail.com" with your details Please go to your above email now and login.
  </div>
<button class="btn btn-success" routerLink="/Products"><i class='far fa-arrow-alt-circle-left' style='font-size:24px'></i>Go To List</button>
</div>
